{#
** EPITECH PROJECT, 2020:
** MVC_Rush_PHP
**
** register.html.twig
** File description:
**  This file is in charge of show data in register.html.twig
**
#}
{# auth/register.html.twig #}


{% extends 'base.html.twig' %}

{% block body %}
  
  <style type="text/css">
    .container{
      margin-top: 5vw;
      padding: 5vw;
      background-color: #66a3ff;
      border-radius:15px;
    }

    .errorMessage{
      color: red;
    }
    .createdMessage{
      color: green;
    }
    .successMessage{
      color: green;
      background-color: #79d279;
      border-radius:15px;
    }


    #link{
      color: teal;
    }
  </style>

  
  <div class="container">
    <h2 align="center">Register</h2>
    <hr>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form action="/{{ base }}register" name="sentMessage" id="contactForm" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Username" id="name" name="username" required
                 data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder="Email Address" id="email" name="email"
                required data-validation-required-message="Please enter your email address.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" id="password" name="password"
               required data-validation-required-message="Please enter your password.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Confirm password</label>
              <input type="password" class="form-control" placeholder="Password confirmation" id="password_confirmation" name="password_confirmation"
               required data-validation-required-message="Please enter you the password confirmation.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="errorMessage" align="center">{{ error.get() | raw }}</div>
          <div id="success"></div>
          <br>
          <div align="center">
            <a>Do you already have an account?</a>
            <a id="link" href="login">Login here</a>
            <br><br>
          </div>

          <div class="form-group" align="center">
            <br>
            <button type="submit" class="btn btn-info" id="sendMessageButton">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
