{# index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

	<h1>Hello World!</h1>
	<br><br>

	
    {% for user in userList %}
    <ul>
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
    </ul>
    {% endfor %}
	


{% endblock %}