{#
** EPITECH PROJECT, 2020:
** MVC_Rush_PHP
**
** userSettings.html.twig
** File description:
**  This file is in charge of show data about the connected user.
**
#}
{# index.html.twig #}

{% extends 'base.html.twig' %}

{% block navbar %}
	{% include('navbar.html.twig') %}
{% endblock %}

{% block body %}
	<style type="text/css">
    .container{
      margin-top: 5vw;
      padding: 5vw;
      background-color: #66a3ff;
      border-radius:15px;
    }

    .errorMessage{
      margin-top: 5vw;
      padding: 5vw;
      color: red;
      border-radius:15px;
    }

    #link{
      color: teal;
    }
  </style>

  
  <div class="container">
    <h2 align="center">Settings</h2>
    <hr>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form action="/{{ base }}settings" name="sentMessage" id="contactForm" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Username/Email" id="name" name="username" required
                 data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
           <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email</label>
              <input type="text" class="form-control" placeholder="Username/Email" id="name" name="email" required
                 data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" id="password" name="password"
               required data-validation-required-message="Please enter your password.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Confirm password</label>
              <input type="password" class="form-control" placeholder="Password" id="passwordConfirm" name="passwordConfirm"
               required data-validation-required-message="Please enter your password.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="form-group" align="center">
            <br>
            <button type="submit" class="btn btn-danger" id="sendMessageButton">Delete account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="errorMessage" align="center">
    {{ error.get() | raw }}
  </div>

{% endblock %}

